body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2, h3,
h4, h5, h6,
a, p, span {
  margin: 0;
}

ul {
  list-style-type: none;
  text-align: left;
  -webkit-padding-start: 0;
}