{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
  },
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": [0],
    "react/forbid-prop-types": [0],
    "function-paren-newline": ["error", "consistent"]
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true
  }
}
